body,
html {
  font-family: "Open Sans", sans-serif !important;
}

h1,
h2,
h4,
h4,
h4,
h6,
p,
span {
  font-family: "Open Sans", sans-serif !important;
}


.face-canvas {
  position: absolute;
  left: 49%;
  top: 51.5%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}